<%-include("header")-%>
<div class="box" id="heading">

    <h1><%= currentDay%></h1>
</div>
    <div class="box">
        
        
            
            
                <%items.forEach((singleItem)=>{%>
                    <form action="/delete" method="post">

                        <div class="item">
                            <span style="margin-left:15px ;">:</span>
                            
                            
                            <input type="checkbox" name="checkBox" value="<%= singleItem._id %> " onChange="this.form.submit()">
                            
                            <p><%=singleItem.title%></p>
                        </div>
                    </form>
                    <%});%>
            
                <form class="item" action="/" method="post">
                    <input type="text" name="todo" placeholder="Enter a todo" autocomplete="off">
                    <button type="submit" name="button ">+</button>
                </form>
    </div>
  
<%-include("footer")-%>